{% extends "newpost.html" %}

{% block content %}

    <center>
        <h1>Blogz</h1>
    </center>

    {% if blog_post|length == 0 %}

        <p class='text-center'>No Posts Have Been Created</p>
    
    {% else %}

    {% for blog in blog_post %}

        <a href="/blog?id={{blog.id}}"><h3>{{blog.title}}</h3></a>
        <p>{{blog.body}}</p>
        <p><small><em>Created By <a href="/blog?user={{blog.owner.username}}">{{blog.owner.username}}</a></em></small></p>
        <hr />
    
    {% endfor %}

    {% endif %}
    
{% endblock %}
