{% extends 'base.html' %}

{% block content %}

<center>
    <h1>Login</h1>
    <p>If you don't have an account, you may <a href="/signup">sign up</a> for one.</p>
</center>

<form action='/login' method='POST'>
    <table>
        <tr>
            <td>
                <label for="username">Username</label>
                <span class="error">{{user_error}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <input name="username" type="text" value="{{username}}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password</label>
                <span class="error">{{pass_error}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>

{% endblock %}